.bodega {
  background-image: url(../img/bodega.jpg);
  background-size: cover;
}

.delivery {
  background-image: url(../img/deliverys.jpg);
  background-size: cover;
}

.pizzeria {
  background-image: url(../img/pizza.jpg);
  background-size: cover;
}

.restaurante {
  background-image: url(../img/restaurantes.jpg);
  background-size: cover;
}

.ropa {
  background-image: url(../img/ropa.jpg);
  background-size: cover;
}

.salon {
  background-image: url(../img/salon.jpg);
  background-size: cover;
}

.turismo {
  background-image: url(../img/turismo1.jpg);
  background-size: cover;
}

.card-container-super {
  background-image: url(../img/super1.jpg);
  background-size: cover;
}

.card-main {
  background-color: #83c5be;
}

.titulo1 {
  font-size: 60px;
  text-shadow: orangered 2px 2px;
}
